@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');
* {
  box-sizing: border-box;
}

:root {
  --first-color: #0D0D0D;
  --second-color: #404040;
  --third-color: #737373;
  --fourth-color: #FFFFFF;
  --fifth-color: #05E177;
}

html, body {
  height: 100%;
}

body {
  color: var(--second-color);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', sans-serif;
}

.siteContainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.contentContainer {
  margin: 1rem auto;
  max-width: 800px;
  padding: 0px 20px 10px 20px;
  flex: 1;
}

span {
  font-size: 18px;
}